<div class="container">
    <div class="timeline">
        <div class="timeline-element" routerLink="/home/education/loc">
            <span class="timeline-title">
                2014 - 2018
            </span>
            <div class="timeline-line"></div>
        </div>
        <div class="timeline-element">
            <span class="timeline-title active">
                2019 - 2022
            </span>
            <div class="timeline-line active"></div>
        </div>
        <div class="timeline-element" routerLink="/home/education/iteam">
            <span class="timeline-title">
                2022 - 2025
            </span>
            <div class="timeline-line"></div>
        </div>
    </div>
    <div class="education-container">
        <div class="education-header">
            <div class="education-details">
                <div class="school-name">
                    Higher Institute of Multimedia Arts
                </div>
                <div class="degree-title">
                    Bachelor's Degree
                </div>
                <div class="field-name">
                    Field: Computer Science & Multimedia
                </div>
            </div>
            <img class="school-logo" src="../../../assets/images/school_logos/isamm_logo.png" alt="">
        </div>
        <div class="education-description">
            <p>
                I completed my bachelor's degree in Computer Science & Multimedia and I graduated with the 
                highest honors after a 4 month end-of-studies internship where I worked as Full Stack
                Web Developer.
            </p>
        </div>
    </div>
</div>