<div class="background">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <img class="logo-img" src="../../../assets/images/logo/Logo_white.png" alt="">
            <img class="portrait-img" src="../../../assets/images/portrait.png" alt="">
        </div>
        <div class="sidebar-content">
            <p class="sidebar-section-title">Who am I ?</p>
            <div class="sidebar-menu-container">
                <div class="sidebar-menu-item profile-menu-item" routerLink="/home/profile" (click)="selectSidebarMenuItem($event)">
                    <i class="fa fa-user sidebar-menu-item-icon"></i>
                    <span class="sidebar-menu-item-title">Profile</span>
                </div>
                <div class="sidebar-menu-item" routerLink="/home/education/loc" (click)="selectSidebarMenuItem($event)">
                    <i class="fa fa-user-graduate sidebar-menu-item-icon"></i>
                    <span class="sidebar-menu-item-title">Education</span>
                </div>
                <div class="sidebar-menu-item" routerLink="/home/interests" (click)="selectSidebarMenuItem($event)">
                    <i class="fa fa-chess-knight sidebar-menu-item-icon"></i>
                    <span class="sidebar-menu-item-title">Interests</span>
                </div>
            </div>
            <p class="sidebar-section-title">Professional Experience</p>
            <div class="sidebar-menu-container">
                <div class="sidebar-menu-item" routerLink="/home/experience" (click)="selectSidebarMenuItem($event)">
                    <i class="fa fa-laptop sidebar-menu-item-icon"></i>
                    <span class="sidebar-menu-item-title">Experience</span>
                </div>
                <div class="sidebar-menu-item" routerLink="/home/projects" (click)="selectSidebarMenuItem($event)">
                    <i class="fa fa-laptop-code sidebar-menu-item-icon"></i>
                    <span class="sidebar-menu-item-title">Projects</span>
                </div>
                <div class="sidebar-menu-item" routerLink="/home/skills" (click)="selectSidebarMenuItem($event)">
                    <i class="fa fa-code sidebar-menu-item-icon"></i>
                    <span class="sidebar-menu-item-title">Technical Skills</span>
                </div>
            </div>
        </div>
        <div (click)="downloadResume()" class="sidebar-footer">
            <i class="fa fa-download"></i>Download my CV
        </div>
    </div>
    <div class="separator">

    </div>
    <div class="main-content-container">
        <div class="route-info">
            <span *ngFor="let pathElem of routePath" class="route-path-element">{{pathElem}} /&nbsp;</span>
            <span class="active-route">{{activeRoute}}</span>   
        </div><!--This div will display the current route path the user is in-->
        <router-outlet></router-outlet>
    </div>
</div>
   
