<div class="back-btn">
    <a routerLink="/home/interests"><i class="fa fa-chevron-left"></i></a>
</div>
<div align=center> 

  <div id="lutemain1" align="center">
          <div id="lutelines" align="center">
            
              <div id="vline1" align="center" (mouseenter)="play('https://raw.githubusercontent.com/212mr/m15final/master/music/lute01.mp3')" style="height:700px;"></div>
            
              <div id="vline2" align="center" (mouseenter)="play('https://raw.githubusercontent.com/212mr/m15final/master/music/lute02.mp3')" style="height:700px;"></div>
            
              <div id="vline3" align="center" (mouseenter)="play('https://raw.githubusercontent.com/212mr/m15final/master/music/lute03.mp3')" style="height:700px;"></div>
            
              <div id="vline4" align="center" (mouseenter)="play('https://raw.githubusercontent.com/212mr/m15final/master/music/lute04.mp3')" style="height:700px;"></div>
            
              <div id="vline5" align="center" (mouseenter)="play('https://raw.githubusercontent.com/212mr/m15final/master/music/lute05.mp3')" style="height:700px;"></div>
          </div>
          <div id="lutecircle" align="center"></div>
      </div>
  
  </div>