<div class="circle">
    <span class="question-mark">?</span>
    <span class="tooltip">Click the function keys to display skills</span>
  </div>
<div class="container">
    
    <div class="keyboard-container">
        <div class="keys-line functions-keys-line">
            <div class="key esc-key" (click)="pickSkill('none')">
                Esc
            </div>
            <div class="key invisible">
                
            </div>
            <div class="key f-key" (click)="pickSkill('dev')">
                <span>Dev</span>
                <div class="key-icon">
                    <i class="fa fa-terminal"></i>
                </div>
            </div>
            <div class="key f-key" (click)="pickSkill('cloud')">
                <span>Cloud</span>
                <div class="key-icon">
                    <i class="fa fa-cloud"></i>
                </div>
            </div>
            <div class="key f-key" (click)="pickSkill('design')">
                <span>Design</span>
                <div class="key-icon">
                    <i class="fa fa-bezier-curve"></i>
                </div>
            </div>
            <div class="key">
                F4
            </div>
            <div class="key invisible"></div>
            <div class="key f-key" (click)="pickSkill('tools')">
                <span>Tools</span>
                <div class="key-icon">
                    <i class="fa fa-laptop-code"></i>
                </div>
            </div>
            <div class="key f-key" (click)="pickSkill('certifs')">
                <span>Certifs</span>
                <div class="key-icon">
                    <i class="fa fa-medal"></i>
                </div>
            </div>
            <div class="key">
                
            </div>
        </div>
        <div class="keys-line first-keys-line">
            <div class="key long-key">
                <span class="skillset-title" *ngIf="pickedSkill === 'dev'">Web Development</span>
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/angular.png" alt="Angular">
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/react.png" alt="React">
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/laravel.png" alt="Laravel">
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/mongodb.png" alt="MongoDB">
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/mysql.png" alt="MySQL">
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/typescript.png" alt="TypeScript">
            </div>
            <div class="key long-key enter-key">
                Hire me
            </div>
        </div>
        <div class="keys-line second-keys-line">
            <div class="key long-key">
                <span class="skillset-title" *ngIf="pickedSkill === 'dev'">Mobile Development</span>
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/dart.png" alt="Dart">
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/flutter.png" alt="Flutter">
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
        </div>
        <div class="keys-line third-keys-line">
            <div class="half-long-key key">
                <span class="skillset-title" *ngIf="pickedSkill === 'dev'">Testing</span>
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/phpunit.png" alt="PHPUnit">
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/sonarqube.png" alt="SonarQube">
            </div>
            <div class="key skill-key">
                <img class="skill-img" *ngIf="pickedSkill === 'dev'" src="../../../assets/images/technical_skills/eslint.png" alt="ESLint">
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
            <div class="key skill-key">
                
            </div>
        </div>
        <div class="keys-line fourth-keys-line">
            <div class="key">

            </div>
            <div class="key">
                
            </div>
            <div class="key">
                Alt
            </div>
            <div class="space-key">
                <span class="picked-skill-title" *ngIf="pickedSkill === 'dev'">Software Development</span>
                <span class="picked-skill-title" *ngIf="pickedSkill === 'cloud'">Cloud & Virtualization</span>
                <span class="picked-skill-title" *ngIf="pickedSkill === 'design'">Graphic Design</span>
                <span class="picked-skill-title" *ngIf="pickedSkill === 'tools'">Tools</span>
                <span class="picked-skill-title" *ngIf="pickedSkill === 'certifs'">Certificates</span>
            </div>
            <div class="key">
                
            </div>
            <div class="key">
                
            </div>
        </div>
    </div>
</div>
