* {
    color: white;
}

.container {
    height: 95%;
}

.profile-header-section {
    margin: 5% 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .profile-header-section {
        flex-direction: column;
        text-align: center;
        margin: 3% 0%;
    }
}

.portrait-img {
    width: 150px;
    border-radius: 100%;
    margin-right: 2%;
}

@media (max-width: 768px) {
    .portrait-img {
        width: 120px;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.general-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .general-info {
        align-items: center;
        width: 100%;
    }
}

.name-flag {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-flag {
    width: 30px;
}

.full-name {
    font-size: 2em;
    font-weight: 400;
    margin-right: 2%;
    letter-spacing: 0.1em;
    text-wrap: nowrap;
}

@media (max-width: 768px) {
    .full-name {
        font-size: 1.5em;
        margin-right: 1%;
        text-wrap: wrap;
        text-align: center;
    }
}

.current-position, .current-education {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .current-position, .current-education {
        justify-content: center;
    }
}

.current-position-title, .current-education-title {
    color: #D9D9D9;
    margin-left: 2%;
}

.section-title {
    color: #A3A3A3;
    font-size: small;
}

.bio-text {
    font-weight: 200;
    text-align: justify;
}

.profile-contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .profile-contact-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
}

.socials {
    height: 10px;
    width: 50%;
}

.contact-details {
    height: 10px;
    width: 50%;
}

@media (max-width: 768px) {
    .socials, .contact-details {
        width: 100%;
        height: auto;
    }
}

.socials i {
    margin-top: 3%;
    font-size: 2.5em;
    cursor: pointer;
}

.socials i:hover {
    color: #0074FF;
}

.fa-linkedin {
    margin-right: 5%;
}

.contact-section:nth-child(2) {
    margin-top: 3%;
}

.contact-section i {
    margin-right: 3%;
}

.email {
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
    color: #0074FF;
    cursor: pointer;
}