<div class="container">
     <div class="profile-header-section">
        <img class="portrait-img" src="../../../assets/images/portrait.png" alt="">
        <div class="general-info">
            <div class="name-flag">
                <span class="full-name">Mohamed Ben Othman</span>
                <img class="country-flag" src="../../../assets/images/tunisia_flag.png" alt="">
            </div>
            <div class="current-position">
                <i class="fa fa-briefcase"></i>
                <span class="current-position-title">Full Stack Developer</span>
            </div>
            <div class="current-education">
                <i class="fa fa-school"></i>
                <span class="current-education-title">Software Engineering Student</span>
            </div>
        </div>
     </div>
     <div class="profile-bio-section">
        <div class="section-title">Bio</div>
        <p class="bio-text">
            I am an enthusiastic programmer aiming to become a software engineer. Fueled by my passion for the digital world, I would describe myself as someone flexible and eager to discover new ideas and try out new experiences while enhancing my set of skills.
            In other words, I am a dependable co-worker driven by my conscientiousness while always leading with kindness and empathy.
        </p>
     </div>
     <div class="profile-contact-section">
        <div class="socials">
            <div class="section-title">Socials</div>
            <a href="https://www.linkedin.com/in/mohamedbenothman1/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/Med-BO" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div class="contact-details">
            <div class="section-title">Contact details</div>
            <div class="contact-section">
                <i class="fa fa-envelope"></i>
                <a class="email" href="mailto:mohamedbenothman2@gmail.com">mohamedbenothman2@gmail.com</a>
            </div>
            <div class="contact-section">
                <i class="fa fa-phone"></i>
                <span>(+216) 23 733 416</span>
            </div>
        </div>
     </div>
</div>
