<div class="container">
     <div class="profile-header-section">
        <img class="portrait-img" src="../../../assets/images/portrait.jpg" alt="">
        <div class="general-info">
            <div class="name-flag">
                <span class="full-name">Mohamed Ben Othman</span>
                <img class="country-flag" src="../../../assets/images/tunisia_flag.png" alt="">
            </div>
            <div class="current-position">
                <i class="fa fa-briefcase"></i>
                <span class="current-position-title">Full Stack Developer</span>
            </div>
            <div class="current-education">
                <i class="fa fa-school"></i>
                <span class="current-education-title">Software Engineering Student</span>
            </div>
        </div>
     </div>
     <div class="profile-bio-section">
        <div class="section-title">Bio</div>
        <p class="bio-text">
            I am a considerate individual who values those eager to learn and offer guidance, and I am always open to engaging in meaningful conversations.
            I specialize in transforming business ideas into web and mobile applications, with a focus on leveraging emerging AI technologies. 
            With my ability to write efficient quality code, I ensure value is added at every stage of software development. 
        </p>
     </div>
     <div class="profile-contact-section">
        <div class="socials">
            <div class="section-title">Socials</div>
            <a href="https://www.linkedin.com/in/mohamedbenothman1/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/Med-BO" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div class="contact-details">
            <div class="section-title">Contact details</div>
            <div class="contact-section">
                <i class="fa fa-envelope"></i>
                <a class="email" href="mailto:mohamedbenothman2@gmail.com">mohamedbenothman2@gmail.com</a>
            </div>
            <div class="contact-section">
                <i class="fa fa-phone"></i>
                <span>(+216) 23 733 416</span>
            </div>
        </div>
     </div>
</div>
