<div class="container">
    <div class="timeline">
        <div class="timeline-element">
            <span class="timeline-title active">
                2014 - 2018
            </span>
            <div class="timeline-line active"></div>
        </div>
        <div class="timeline-element" routerLink="/home/education/isamm">
            <span class="timeline-title">
                2019 - 2022
            </span>
            <div class="timeline-line"></div>
        </div>
        <div class="timeline-element" routerLink="/home/education/iteam">
            <span class="timeline-title">
                2022 - 2025
            </span>
            <div class="timeline-line"></div>
        </div>
    </div>
    <div class="education-container">
        <div class="education-header">
            <div class="education-details">
                <div class="school-name">
                    Othman Chatti High School
                </div>
                <div class="degree-title">
                    High School Diploma | Honors | National rank : 47
                </div>
                <div class="field-name">
                    Field: Computer Science
                </div>
            </div>
            <img class="school-logo" src="../../../assets/images/school_logos/loc_logo.png" alt="">
        </div>
        <div class="education-description">
            <p> 
                As a high school student pursuing a computer science track, my coursework was multidisciplinary, encompassing
                a diverse range of subjects. In addition to comprehensive foundations in physics and mathematics, my education 
                emphasized proficiency in Arabic, English, and French languages. Furthermore, I undertook a variety of computer
                science courses, covering essential topics such as algorithms, databases, and networks.
            </p>
        </div>
    </div>
</div>