<div class="container">
    <div class="horizontal-divider">
        <span>Professional Experience</span>
        <div class="separator"></div>
    </div>
    <div class="professional-experience-container">
        <div class="experience-container">
            <div class="experience-header">
                <div class="experience-info">
                    <h1>UbiAi</h1>
                    <span class="experience-date">Nov 2023 - Present : <span class="experience-title">Full Stack Web Developer</span></span>
                </div>
                <img src="../../../assets/images/companies-logo/Logo_ubiai.svg" alt="" class="company-logo">
            </div>
            <div class="experience-description">
                <p>
                    • Worked on developing a web application that simplifies the process of leveraging and chaining AI models to process and anayze different sorts of documents.<br>
                    • Skills acquired: AI - NLP Models - FrontEnd - Backend - DAG
                </p>
            </div>
        </div>
    </div>
    <div class="professional-experience-container">
        <div class="experience-container">
            <div class="experience-header">
                <div class="experience-info">
                    <h1>Tsunami IT</h1>
                    <span class="experience-date">Sep 2022 - Oct 2023 : <span class="experience-title">Remote Work - Full Stack Developer</span></span>
                    <span class="experience-date">Feb 2022 - Jun 2022 : <span class="experience-title">EOS Internship - Web Developer </span></span>
                </div>
                <img src="../../../assets/images/companies-logo/tsunamiit.png" alt="" class="company-logo">
            </div>
            <div class="experience-description">
                <p>
                    • Worked on the development of an ERP for the production management of a Canadian Caterer - FoodTech<br>
                    • Developed the mobile application for the digitalization of farm management - AgriTech<br>
                    • Underwent all the stages of the software development process while working with SCRUM<br>
                    • Skills acquired: Web FrontEnd - Backend - Mobile Dev - UI Design - UML Conception - REST API - Unit testing - Cloud & containerization
                </p>
            </div>
        </div>
    </div>
    <div class="horizontal-divider">
        <span>Volunteering Work</span>
        <div class="separator"></div>
    </div>
    <div class="volunteering-experience-container">
        <div class="experience-container">
            <div class="experience-header">
                <div class="experience-info">
                    <h1>Microsoft Xbox</h1>
                    <span class="experience-date">Sep 2018 - Dec 2018 : <span class="experience-title">Xbox Ambassador</span></span>
                </div>
                <img src="../../../assets/images/companies-logo/microsoft.png" alt="" class="company-logo">
            </div>
            <div class="experience-description">
                <p>
                    • Worked as an online customer support assistant assisting gamers through direct chat and forums with their issues in using Xbox services and/or hardware<br>
                    • Ranked in the <span class="hiddentxt top100">top 100</span><span class="hiddenimg"><img src="../../../assets/images/pin-image.jpg" width="350" /></span> global Xbox ambassadors<br>
                </p>
            </div>
        </div>
        <div class="experience-container">
            <div class="experience-header">
                <div class="experience-info">
                    <h1>Enactus</h1>
                    <span class="experience-date">Jan 2021 - May 2021 : <span class="experience-title">Chief of Design & Com department</span></span>
                </div>
                <img src="../../../assets/images/companies-logo/enactus.png" style="width: 150px; margin-right: -3%;" alt="" class="company-logo">
            </div>
            <div class="experience-description">
                <p>
                    • I managed my university's Enactus club's social media presence, raising awareness on multiple social and environmental issues.<br>
                    • I contributed to the <span class="hiddentxt top100">ideation process</span><span class="hiddenimg" style="margin-left: 10px; bottom: 14%;"><img src="../../../assets/images/enactus-club-photo.jpeg" width="450" /></span> of a project aligned with the Sustainable Development Goals (SDGs)<br>
                </p>
            </div>
        </div>
    </div>
</div>
