<div class="container">
    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">MOS: Word, PowerPoint & Excel</div>                
            </div>
            <img src="../../../assets/images/certifications/mos_specialist.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description">
                • Microsoft Office 2016 Specialist <br>
                • I mainly use the office suite for documentation and presentation purposes<br>
                • Represented my university in the MOS national competition and was ranked 9<sup>th</sup><br>
            </div>
        </div>
    </div>
    
    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Microsoft Certified Fundamentals</div>
                
            </div>
            <img src="../../../assets/images/certifications/" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description">
                • Azure<br>
                • Compliance and security <br> 
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">LinkedIN Learning: Become a software developer</div>                
            </div>
            <img src="../../../assets/images/certifications/" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description">
                • Completed 10 courses covering the fundamentals for software development <br>
                • This course was offered by Microsoft & LinkedIN for a limited period <br>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Datacamp: Data Analyst with Python</div>                
            </div>
            <img src="../../../assets/images/certifications/" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description">
                • <b>Ongoing</b><br>
                • This course covers the advanced concepts for the Python language alongside the data visualization, data cleaning and BI tools<br>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Udemy</div>            
            </div>
            <img src="../../../assets/images/certifications/" alt="" class="logo">
        </div>
        <div class="card-body">
            <div>
                • Laravel advanced course - <br>
                • Angular advanced course - <br>
                • AWS fundamentals - <br>
                • Docker fundamentals - <br>
                • Flutter advanced course - Angela Yu <br>
            </div>
        </div>
    </div>
</div>
