.container {
    height: 95%;
    color: white;
}

.timeline {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 768px) {
    .timeline {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.timeline-element {
    width: 15%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .timeline-element {
        width: 100%;
    }
}

.timeline-line {
    width: 100%;
    border-top: 3px solid #434343;
}