<div class="container">
    <div *ngFor="let item of [1, 2, 3, 4]" class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Magon Farm</div>
                <div class="project-type">Mobile Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/magonfarm.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Flutter</div>
                <div class="technology">AWS</div>
            </div>
        </div>
    </div>
    
</div>
