<div class="container">
    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Magon Farm</div>
                <div class="project-type">Mobile Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/magonfarm.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Flutter</div>
                <div class="technology">AWS</div>
            </div>
        </div>
    </div>
    
    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Cloud Cooker</div>
                <div class="project-type">Web Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/cloudcooker.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Flutter</div>
                <div class="technology">AWS</div>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">SwipeSuccess</div>
                <div class="project-type">Web Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/swipesuccess.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Flutter</div>
                <div class="technology">AWS</div>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Scrabble Web</div>
                <div class="project-type">Web Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/scrabble_web.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Flutter</div>
                <div class="technology">AWS</div>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Tsunami Manager Project</div>
                <div class="project-type">Web Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/tmp.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
                • Lorem ipsum Lorem ipsum 
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Flutter</div>
                <div class="technology">AWS</div>
            </div>
        </div>
    </div>
</div>
