<div class="container">
    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Magon Farm</div>
                <div class="project-type">Mobile Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/magonfarm.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Development of a mobile application for the management of dairy farms <br>
                • Development of an AI system for the optimization of production <br>
                • Released on Google Playstore <br>
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Flutter</div>
                <div class="technology">AWS</div>
                <div class="technology">Laravel</div>
                <div class="technology">Pusher</div>
            
            </div>
        </div>
    </div>
    
    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Cloud Cooker</div>
                <div class="project-type">Web Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/cloudcooker.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Development of an ERP for the management of production for a Canadian caterer <br>
                • Deployed on AWS <br> 
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Angular</div>
                <div class="technology">Laravel</div>
                <div class="technology">AWS</div>
                <div class="technology">Docker</div>
                <div class="technology">MySQL</div>
                <div class="technology">Pusher</div>
                <div class="technology">Swagger</div>
                <div class="technology">PHPUnit</div>
                <div class="technology">Eslint</div>
                <div class="technology">SonarQube</div>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">SwipeSuccess</div>
                <div class="project-type">Web Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/swipesuccess.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Development of a matching platform for Job Seekers & Companies <br>
                • Development of a recommendation system for the pairing functionality <br>
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">React.js</div>
                <div class="technology">MongoDB</div>
                <div class="technology">Express.js</div>
                <div class="technology">node.js</div>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Scrabble Web</div>
                <div class="project-type">Web Application - Integration project</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/scrabble_web.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div class="project-description">
                • Development of a web version of the Scrabble game <br>
                • The game functions on realtime <br>
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Angular</div>
                <div class="technology">Laravel</div>
                <div class="technology">MySQL</div>
                <div class="technology">Pusher</div>
                <div class="technology">Swagger</div>
            </div>
        </div>
    </div>

    <div class="project-card">
        <div class="card-header">
            <div class="header-details">
                <div class="project-title">Tsunami Manager Project</div>
                <div class="project-type">Web Application</div>
                <div class="project-icons">X X</div>
            </div>
            <img src="../../../assets/images/projects/tmp.png" alt="" class="logo">
        </div>
        <div class="card-body">
            <div class="project-description-label">
                Description
            </div>
            <div>
                • Development of an ERP for the project management of
                • Lorem ipsum Lorem ipsum 
            </div>
            <div class="project-technologies-label">
                Technologies
            </div>
            <div class="project-technologies">
                <div class="technology">Flutter</div>
                <div class="technology">AWS</div>
            </div>
        </div>
    </div>
</div>
