<div class="container">
    <div class="timeline">
        <div class="timeline-element" routerLink="/home/education/loc">
            <span class="timeline-title">
                2014 - 2018
            </span>
            <div class="timeline-line"></div>
        </div>
        <div class="timeline-element" routerLink="/home/education/isamm">
            <span class="timeline-title">
                2019 - 2022
            </span>
            <div class="timeline-line"></div>
        </div>
        <div class="timeline-element">
            <span class="timeline-title active">
                2022 - 2025
            </span>
            <div class="timeline-line active"></div>
        </div>
    </div>
    <div class="education-container">
        <div class="education-header">
            <div class="education-details">
                <div class="school-name">
                    iTeam University
                </div>
                <div class="degree-title">
                    Software Engineering Degree
                </div>
                <div class="field-name">
                    Field: Business Intelligence & Big Data
                </div>
            </div>
            <img class="school-logo" src="../../../assets/images/school_logos/iteam_logo.png" alt="">
        </div>
        <div class="education-description">
            <p>
                I participated in an application-based selection process for Admission to Engineering Program and I was 
                awarded a full scholarship to study Software Engineering. The courses I took during my first year were focused
                on builduing strong foundations for relational databases, UML diagramming, algortihms & data structures alongside
                getting to practice by undergoing the different steps for developing projects from scratch.
            </p>
        </div>
    </div>
</div>